<!DOCTYPE html>
<html lang="en">
<%- include("head.ejs") -%>

<body>
    <%- include("header.ejs") -%>
    <main>
        <h1 class="texto">
            <%= products.title %>
        </h1>
        <p>
            <%= products.desc %>
        </p>
        <div class="imgs">
            <% products.image.forEach((image) =>{ _%>
                <img src="/uploads/<%= image %>">
                <% }) -%>
        </div>
    </main>
    <%- include("comment.ejs") -%>
    <div class="commentlist">
        <h2>Comments</h2>
        <% if(comments[0].id == null) { -%>
            <p>No comments yet</p>
            <% } else { -%>
        <ul>
          <% comments.forEach((c)=> { -%>
            <li>
                <h3>
                 Author: <%= c.author %>
                </h3>
                <p>
                 <%= c.text %>
                </p>
            </li>
            <% }) -%>
        </ul>
        <% } -%>
    </div>
    <%- include("footer.ejs") -%>
</body>
</html>